.additional__title {
  margin-top: 76px;
  margin-bottom: 81px;
}

.additional__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 79px;
  margin-bottom: 86px;
}

.additional-products {
  max-width: 896px;
  box-sizing: border-box;
  width: 100%;
  border-collapse: collapse;
}

.additional-products th,
.additional-products td {
  border-top: 1px solid var(--grey-border);
  border-bottom: 1px solid var(--grey-border);
}

.additional-product {
  padding: 15px 0 15px;
}

.additional-product__title {
  text-transform: uppercase;
  color: var(--dark-grey);
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
}

.additional-button {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding: 8px 26px;
  width: 244px;
}

.additional-product__title {
  text-align: left;
}

.additional-product__text {
  font-family: var(--secondary-font);
  color: var(--grey-info);
  line-height: 1.25;
}

.additional-product__price {
  padding-right: 47px;
  width: 92px;
}

.gift {
  width: 245px;
  height: 289px;
  background-image: url(../../img/additional-image.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.gift__image {
  margin-top: 56px;
}

.gift__text {
  text-align: center;
  color: var(--white);
  font-family: var(--secondary-font);
  line-height: 1.25;
  margin-bottom: 43px;
}
