.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.1;
  background-color: var(--light-grey);
  padding-top: 27px;
  padding-bottom: 33px;
  margin-top: 42px;

  @media (min-width: $tablet) {
    margin-top: 0;
    padding-top: 43px;
    padding-bottom: 63px;
    font-size: 60px;
    line-height: 1;
    background: transparent;
  }

  @media (min-width: $desktop) {
    font-size: 60px;
    line-height: 1;
    padding-top: 69px;
    padding-bottom: 76px;
  }
}

.example__wrapper {
  @media (min-width: $tablet) {
    padding: 0 30px;
  }
  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 134px;
    padding-top: 75px;
    padding-bottom: 70px;
  }
}

.example__background {
  width: 100%;
  background-color: var(--light-grey);
  padding-bottom: 40px;

  @media (min-width: $tablet) {
    position: relative;
    background-color: var(--white);

    &::before {
      content: "";
      background-color: var(--light-grey);
      position: absolute;
      bottom: 0;
      height: 50%;
      width: 100%;
      left: 0;
    }
  }
  @media (min-width: $desktop) {
    background-color: var(--light-grey);
  }
}

.example__left {
  width: 100%;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop) {
    max-width: 436px;
    display: block;
  }
}

.example__text {
  font-family: var(--secondary-font);
  color: var(--grey-about);
  font-size: 14px;
  line-height: 1.2;

  @media (min-width: $tablet) {
    grid-column: 1 / -1;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.example-info {
  display: flex;
  align-items: center;
  gap: 31px;

  @media (min-width: $tablet) {
    gap: 42px;
  }

  @media (min-width: $desktop) {
    flex-wrap: wrap;
  }
}

.example__info {
  margin: 25px 0 34px;

  @media (min-width: $desktop) {
    margin-top: 69px;
    margin-bottom: 55px;
  }
}

.example-info__item {
  width: 124px;
  height: 64px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--grey-border);
  border-radius: 3px;

  @media (min-width: $tablet) {
    width: 162px;
    height: 77px;
  }
}

.example-info__value {
  font-size: 24px;
  line-height: 1;
  z-index: 1;

  @media (min-width: $tablet) {
    font-size: 30px;
    line-height: 1.23;
  }
}

.example-info__description {
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 14px 15px 0;
  text-align: center;
  transform: translate(-50%, 40%);
  font-family: var(--secondary-font);
  line-height: 1;
  font-size: 12px;
  color: var(--grey-about);
  background-color: var(--light-grey);

  @media (min-width: $tablet) {
    padding: 11px 9px 0;
    white-space: nowrap;
    font-size: 14px;
    background-color: var(--white);
  }

  @media (min-width: $desktop) {
    padding: 0 7px;
    background-color: var(--light-grey);
  }
}

.example-cost {
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: center;
  margin-bottom: 42px;

  @media (min-width: $tablet) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 0;
    margin: 0;
  }

  @media (min-width: $desktop) {
    gap: 63px;
    flex-direction: row;
  }
}

.example-cost__text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.4;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 1;
  }
}

.example__right {
  position: relative;
  width: 100%;
  z-index: 0;
}

.example__image {
  width: 100%;
  height: auto;

  @media (min-width: $desktop) {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-left: auto;
}

.toggle__text {
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    text-decoration: dotted underline rgba(0, 0, 0, 0.25);
    text-underline-offset: 7px;
  }
}

.toggle__input {
  width: 100px;
  background: transparent;
  appearance: none;

  @media (min-width: $tablet) {
    width: 428px;
  }

  @media (min-width: $desktop) {
    width: 100%;
    cursor: pointer;
  }

  &::-webkit-slider-runnable-track {
    background: var(--grey-toggle);
    height: 6px;
    border-radius: 6px;
  }

  &::-moz-range-track {
    background: var(--grey-toggle);
    height: 6px;
    border-radius: 6px;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background-color: var(--basic-green);
    border: 12px solid var(--white);
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--grey-border), 0px 1px 3px rgba(0, 0, 0, 0.16);
    box-sizing: border-box;
    transform: translateY(-13px);
  }

  &::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background-color: var(--basic-green);
    border: 12px solid var(--white);
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--grey-border), 0px 1px 3px rgba(0, 0, 0, 0.16);
    box-sizing: border-box;
  }

  &:hover {
    &::-webkit-slider-thumb {
      box-shadow: 0 0 0 1px var(--grey-border), 0px 2px 4px rgba(0, 0, 0, 0.19);
    }

    &::-moz-range-thumb {
      box-shadow: 0 0 0 1px var(--grey-border), 0px 2px 4px rgba(0, 0, 0, 0.19);
    }
  }

  &:focus {
    outline: none;

    &::-webkit-slider-thumb {
      box-shadow: 0 0 0 1px var(--basic-green);
    }

    &::-moz-range-thumb {
      box-shadow: 0 0 0 1px var(--basic-green);
    }
  }
}
