.example__title {
  font-size: 60px;
  line-height: 1;
  font-weight: 400;
  padding-top: 69px;
  padding-bottom: 76px;
}

.example__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 134px;
  padding-top: 75px;
  padding-bottom: 70px;
}

.example__background {
  background-color: var(--light-grey);
}

.example__left {
  width: 100%;
  max-width: 436px;
}

.example__text {
  font-family: var(--secondary-font);
  color: var(--grey-about);
}

.example-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 42px;
}

.example__info {
  margin-top: 69px;
  margin-bottom: 55px;
}

.example-info__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 162px;
  height: 77px;
  border: 1px solid var(--grey-border);
  border-radius: 3px;
}

.example-info__value {
  font-size: 30px;
  line-height: 1.23;
}

.example-info__description {
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 0 7px;
  transform: translate(-50%, 40%);
  font-family: var(--secondary-font);
  font-size: 14px;
  line-height: 1;
  color: var(--grey-about);
  white-space: nowrap;
  background-color: var(--basic-grey);
}

.example-cost {
  display: flex;
  align-items: center;
  gap: 63px;
}

.example-cost__text {
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
}

.example__right {
  position: relative;
  width: 100%;
  z-index: 0;
}

.example__image {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.toggle {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}

.toggle__text {
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: dotted underline rgba(0, 0, 0, 0.25);
  text-underline-offset: 7px;
}

.toggle__input {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;

  &::-webkit-slider-runnable-track {
    background: var(--grey-toggle);
    height: 6px;
    border-radius: 6px;
  }

  &::-moz-range-track {
    background: var(--grey-toggle);
    height: 6px;
    border-radius: 6px;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background-color: var(--basic-green);
    border: 12px solid var(--white);
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--grey-border), 0px 1px 3px rgba(0, 0, 0, 0.16);
    box-sizing: border-box;
    transform: translateY(-13px);
  }

  &::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background-color: var(--basic-green);
    border: 12px solid var(--white);
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--grey-border), 0px 1px 3px rgba(0, 0, 0, 0.16);
    box-sizing: border-box;
  }

  &:hover {
    &::-webkit-slider-thumb {
      box-shadow: 0 0 0 1px var(--grey-border), 0px 2px 4px rgba(0, 0, 0, 0.19);
    }

    &::-moz-range-thumb {
      box-shadow: 0 0 0 1px var(--grey-border), 0px 2px 4px rgba(0, 0, 0, 0.19);
    }
  }

  &:focus {
    outline: none;

    &::-webkit-slider-thumb {
      box-shadow: 0 0 0 1px var(--basic-green);
    }

    &::-moz-range-thumb {
      box-shadow: 0 0 0 1px var(--basic-green);
    }
  }
}
