.footer {
  background-color: var(--light-grey);

  @media (min-width: $desktop) {
    padding-top: 57px;
    padding-bottom: 58px;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 22px;

  @media (min-width: $tablet) {
    flex-direction: row;
    padding-top: 55px;
    padding-bottom: 61px;
  }

  @media (min-width: $desktop) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.footer__logo {
  margin-bottom: 32px;

  @media (min-width: $tablet) {
    margin: 0;
  }

  @media (min-width: $desktop) {
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.footer__divider {
  margin: 0;
}

.social-list {
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 35px;

  @media (min-width: $tablet) {
    justify-content: center;
    margin: 0;
    gap: 27px;
  }
}

.social__link {
  &:hover {
    fill: var(--basic-green);
  }

  &:active {
    fill: var(--basic-green);
    opacity: 0.3;
  }
}

.social__link--stroke {
  &:hover {
    stroke: var(--basic-green);
    fill: none;
  }

  &:active {
    stroke: var(--basic-green);
    fill: none;
    opacity: 0.3;
  }
}

.academy {
  margin-top: 22px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: var(--secondary-font);
  color: var(--grey-about);

  @media (min-width: $tablet) {
    margin: 0;
    width: fit-content;
    justify-content: flex-end;
    align-items: center;
    gap: 22px;

    &:hover .social__link {
      fill: var(--basic-green);
    }

    &:active {
      opacity: 0.3;
    }
  }
}
