*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  line-height: 1.5;
}

body {
  font-family: var(--primary-font);
  font-size: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px 0;

  @media (min-width: $tablet) {
    padding: 0 30px 0;
  }

  @media (min-width: $desktop) {
    padding: 0 20px 0;
  }
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.title {
  width: fit-content;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  padding: 0 35px;
  background-color: var(--white);

  &::before {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 2px;
    background-color: var(--basic-green);
    transform: translateY(24px);
    content: "";
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.button {
  font-size: 14px;
  line-height: 1.2;
  padding: 0.7em 5.2em;
  background-color: var(--basic-green);
  text-transform: uppercase;
  color: var(--white);
  appearance: none;
  border: none;
  font-family: var(--primary-font);

  @media (min-width: $tablet) {
    padding: 0.7em 1.3em;
    font-size: 20px;
    line-height: 1;

    &:hover {
      background-color: var(--basic-green-hover);
    }

    &:active {
      background-color: var(--basic-green-hover);
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

.location,
footer {
  display: none;
}
