:root {
  --white: #fff;
  --black: #000;
  --background-green: rgba(104, 183, 56, 0.85);
  --basic-green: #68b738;
  --basic-green-hover: #5eaa2f;
  --basic-grey: #f2f2f2;
  --grey-about: #444444;
  --light-grey: #f2f2f2;
}
